---
type Props = {
  href: string;
  title: string;
  date: Date;
};

const { href, title, date } = Astro.props;

const formatted = date.toLocaleDateString("en-US", {
  month: "short",
  year: "numeric",
});
---

<li class="animate">
  <a href={href} class="group block space-y-1 py-1">
    <span
      class="text-item font-medium block group-hover:text-accent transition-colors duration-200"
    >
      {title}
    </span>
    <time class="meta block" datetime={date.toISOString().slice(0, 10)}>
      {formatted}
    </time>
  </a>
</li>
